# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ngapp/dist
/ngapp/tmp
/ngapp/out-tsc
# Only exists if Bazel was run
/ngapp/bazel-out

# dependencies
/ngapp/node_modules

# profiling files
/ngapp/chrome-profiler-events*.json
/ngapp/speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/ngapp/.vscode/*
/ngapp/!.vscode/settings.json
/ngapp/!.vscode/tasks.json
/ngapp/!.vscode/launch.json
/ngapp/!.vscode/extensions.json
/ngapp/.history/*

# misc
/ngapp/.sass-cache
/ngapp/connect.lock
/ngapp/coverage
/ngapp/libpeerconnection.log
/ngapp/npm-debug.log
/ngapp/yarn-error.log
/ngapp/testem.log
/ngapp/typings

# System Files
/ngapp/.DS_Store
/ngapp/Thumbs.db

/WebApiPBD/

/WebApiPBD/*.swp
/WebApiPBD/*.*~
/WebApiPBD/project.lock.json
/WebApiPBD/.DS_Store
/WebApiPBD/*.pyc
/WebApiPBD/nupkg/

# Visual Studio Code
/WebApiPBD/.vscode

# Rider
/WebApiPBD/.idea

# User-specific files
/WebApiPBD/*.suo
/WebApiPBD/*.user
/WebApiPBD/*.userosscache
/WebApiPBD/*.sln.docstates

# Build results
/WebApiPBD/[Dd]ebug/
/WebApiPBD/[Dd]ebugPublic/
/WebApiPBD/[Rr]elease/
/WebApiPBD/[Rr]eleases/
/WebApiPBD/x64/
/WebApiPBD/x86/
/WebApiPBD/build/
/WebApiPBD/bld/
/WebApiPBD/[Bb]in/
/WebApiPBD/[Oo]bj/
/WebApiPBD/[Oo]ut/
/WebApiPBD/msbuild.log
/WebApiPBD/msbuild.err
/WebApiPBD/msbuild.wrn

# Visual Studio 2015
/WebApiPBD/.vs/

!/WebApiPBD/bin/Release/netcoreapp3.0/win-x64/WebApiPBD.exe