<div class="entity-header">
    <h1><u>Dostawy</u></h1>
</div>

<div class="table-container">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>VIN pojazdu</th>
            <th>Data</th>
            <th>Zużyto paliwa</th>
            <th>Typ paliwa</th>
            <th>Przejechano km</th>
            <th>Id klienta</th>
            <th>Id pracowników</th>
        </tr>
        <ng-template ngFor let-item="$implicit" [ngForOf]="deliveries" let-i="index">
            <tr>
                <td class="id-column">{{item.id}}</td>
                <td>{{item.car.vin}}</td>
                <td>{{item.entryDate}}</td>
                <td>{{item.fuelSpent}}</td>
                <td>{{item.fuelType}}</td>
                <td>{{item.kmTravelled}}</td>
                <td>{{item.clientID}}</td>
                <td>{{item.deliveryEmployees}}</td>
            </tr>
        </ng-template>
    </table>
</div>
