<div class="entity-header">
    <h1><u>Dostawy</u></h1>
</div>

<div class="table-container">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>VIN pojazdu</th>
            <th>Data</th>
            <th>Zużyto paliwa</th>
            <th>Typ paliwa</th>
            <th>Przejechano km</th>
            <th>Nazwa klienta</th>
            <th>Id pracowników</th>
            <th>...</th>
        </tr>
        <ng-template ngFor let-item="$implicit" [ngForOf]="deliveries" let-i="index">
            <tr>
                <td class="id-column">
                    <div class="cell-container">
                        <p>{{item.id}}</p> 
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p class="paragraph-carvin">{{item.carVIN}}</p>
                        <input class="input-carvin" list="carvins" placeholder="{{item.car != null ? item.car.vin : ''}}">
                        <datalist id="carvins"></datalist>
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.entryDate}}</p>
                        <input class="input-entrydate" value="{{item.entryDate}}">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.fuelSpent}}</p>
                        <input class="input-fuelspent" value="{{item.fuelSpent}}">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.fuelTypePolishString}}</p>
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.kmTravelled}}</p>
                        <input class="input-kmtravelled" value="{{item.kmTravelled}}">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p class="paragraph-clientid">{{item.clientName}}</p>
                        <input class="input-clientid" list="clientnames">
                        <datalist id="clientnames"></datalist>
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.deliveryEmployeesStr}}</p>
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <div class="icon-container">
                                <img class="icon" src="../../../assets/edit-icon.png" (click)="onEditItem($event)">
                                <img class="icon" src="../../../assets/delete-icon.png" (click)="onDeleteItem($event)">
                        </div>
                        <div>
                            <button class="commit-button" (click)="onCommitButtonClick($event)">Zatwierdź</button>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </table>
</div>
