<div class="entity-header">
    <h1><u>Marki pojazdów</u></h1>
</div>

<div class="table-container">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Marka pojazdu</th>
            <th>...</th>
        </tr>
        <ng-template ngFor let-item="$implicit" [ngForOf]="carBrands" let-i="index">
            <tr>
                <td class="id-column">
                    <p>{{item.id}}</p>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.name}}</p>
                        <input class="input-name" placeholder="{{item.name}}">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <div class="icon-container">
                                <img class="icon" src="../../../assets/edit-icon.png" (click)="onEditItem($event)">
                                <img class="icon" src="../../../assets/delete-icon.png" (click)="onDeleteItem($event)">
                        </div>
                        <div>
                            <button class="commit-button" (click)="onCommitButtonClick($event)">Zatwierdź</button>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </table>
</div>
