<header class="header">
  <h1>Modern Logistics</h1>
</header>
<aside>
  <div class="menu-container">
      <div class="menu-header">Menu</div>
      <div class="menu-item"><a routerLink= "/">Strona główna</a></div>
      <div class="menu-item"><a routerLink="/car-brand">Marki pojazdów</a></div>
      <div class="menu-item"><a routerLink="/car">Pojazdy</a></div>
      <div class="menu-item">Dostawy</div>
      <div class="menu-item">Pracownicy</div>
      <div class="menu-item">Klienci</div>
  </div>
</aside>
<section>
  <div class="section-container">
      <router-outlet></router-outlet>
  </div>
</section>