.menu-header {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 15px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    float: left;

    border: 4px dotted gray;
    padding: 20px;
}

.menu-item {
    width: 70%;
    height: 30px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.section-container {
    width: 70%;
    height: 100%;
    float: right;
    border: 4px dotted darkgray;
}