<div class="entity-header">
    <h1><u>Pracownicy</u></h1>
</div>

<div class="table-container">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Pesel</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Id dostaw</th>
            <th>...</th>
        </tr>
        <tr class="create-row">
                <td class="id-column">
                    <div class="cell-container">
                        <p>-</p> 
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <input class="input-pesel">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <input class="input-forename">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <input class="input-surname">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>-</p>
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <div class="icon-container">
                            <img class="icon" src="../../../assets/create-icon.png" (click)="onCreateItem($event)">
                        </div>
                    </div>
                </td>
            </tr>

        <ng-template ngFor let-item="$implicit" [ngForOf]="employees" let-i="index">
            <tr class="default-row">
                <td class="id-column">
                    <div class="cell-container">
                        <p>{{item.id}}</p> 
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.pesel}}</p>
                        <input class="input-pesel" value="{{item.pesel}}">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.forename}}</p>
                        <input class="input-forename" value="{{item.forename}}">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.surname}}</p>
                        <input class="input-surname" value="{{item.surname}}">
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <p>{{item.deliveryEmployeesStr}}</p>
                    </div>
                </td>
                <td>
                    <div class="cell-container">
                        <div class="icon-container">
                                <img class="icon" src="../../../assets/edit-icon.png" (click)="onEditItem($event)">
                                <img class="icon" src="../../../assets/delete-icon.png" (click)="onDeleteItem($event)">
                        </div>
                        <div>
                            <button class="commit-button" (click)="onCommitButtonClick($event)">Zatwierdź</button>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </table>
</div>
